#main-desktop{
    width: 100vw;
}

#about-header{
    /*background-image: url(assets/bg11_batcheditor_fotor.jpg);*/
    height: 50vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    
}



 #about-header-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(109.5deg, rgba(3, 2, 61, 0.6) 9.4%, rgba(1, 50, 48, 0.6) 78.4%);
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-header-content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#about-header-wrap{
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    justify-content: center;
    width: 70%;
    position: absolute;
}


#about-header-title{
    font-size: 72px;
    font-weight: 300;
    padding-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
}

#about-header-para{
    margin: 120px 30px;
    align-self: center;
    text-align: center;
    width: 60%;
    
}

/*#about-matter{
    display: flex;
   
    gap:40px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
}*/

.about-block{
    min-width:100vw;
    height: 80vh;
    display: flex;
    padding: 20px; 
    gap:40px
}

.about-block-image-wrap{
    width: 50%;
    padding: 100px;
    border-radius: 10px;
}

.about-block-text-wrap{
    width: 50%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    border: 1px solid rgba(255, 255, 255, 0.292);

}

.about-block-text-decor{
    background-color: #337FA3; 
    width: 4rem; 
    height: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px;
    font-size: 1rem;
}

#about-banner{
    width: 95%;
    background-color:rgb(6, 126, 163) ;
    height: max-content;
     margin: 20px auto;
     display: flex;
     flex-direction: column;
     gap:3rem;
    padding: 50px; 
    align-items: center;
    margin-bottom: 40px;
    border-radius: 10px;
}
#about-values{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}
.about-value{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    
}
.about-value h3{
    font-weight: 400;
    margin: 20px 0px;
}

.about-value-image{
    width: 200px;
    height: 200px;
}

#about-stats-wrapper{
    margin-top: 250px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;

}

#about-stats-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

#about-stats{
    width: 80%;
    display: flex;
    gap:8rem;
}

#stat-block{
    width: 30%;
    border: 1px solid rgba(248, 250, 251, 0.083);
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.stat-block-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.053);
}

#about-cta{
    width: 60%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    border-radius: 10px;
    align-items: flex-start;

}


#about-cta-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding: 30px;
    margin-top: 250px;
    background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
}

#about-cta-button{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 10px;
    color: #06207D ;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

#about-cta-button:hover{
    background-color: #06207D;
    color: #ffffff ;
    scale: 1;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 10px rgba(60, 100, 120, 0.663);
    cursor: pointer;
}

#about-cta-button2{
    display: none;
}

@media (min-width: 768px) and (max-width: 1200px){

    #about-header{
        height: 30vh;
    }

   
    .about-block{
        min-width:100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 20px; 
        gap:40px
    }
    
    .about-block-image-wrap{
        width: 100%;
        padding: 100px;
        border-radius: 10px;
        display: none;
    }
    
    .about-block-text-wrap{
        width: 100%;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:20px;
        border: 1px solid rgba(255, 255, 255, 0.292);
    
    }

    #about-banner{
        width: 95%;
        height: max-content;
        background-color:rgb(6, 126, 163) ;
        
         margin: 20px auto;
         display: flex;
         flex-direction: column;
         gap:30px;
        padding: 30px; 
        align-items: center;
        margin-bottom: 40px;
    }

    #about-values{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex-wrap: wrap;
        align-items: center;
    }
   
    #about-banner{
        height: max-content;
    }

    #about-header-para{
        margin: 20px;
        align-self: center;
        text-align: center;
       

    }

    #about-stats{
        width: 80%;
        display: flex;
        gap:4rem;
        flex-direction: column;
    }

    #stat-block{
        width: 100%;
        border: 1px solid rgba(248, 250, 251, 0.083);
        height: max-content;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:20px;
    }

    #about-cta-button{
        border: none;
        background-color: rgb(255, 255, 255);
        padding: 10px 20px;
        border-radius: 10px;
        color: #06207D ;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
        
    }

    #about-cta-button{
        display: none;
    }
    #about-cta-button2{
        display: block;
        padding: 10px 25px;
    }

    #about-header-title{
        font-size: 32px;
        font-weight: 300;
        padding-bottom: 60px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    
}
@media (max-width: 767px) {

    #about-header{
        height: 30vh;
    }
    .about-block{
        min-width:100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 20px; 
        gap:40px
    }
    
    .about-block-image-wrap{
        width: 100%;
        padding: 100px;
        border-radius: 10px;
        display: none;
    }
    
    .about-block-text-wrap{
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:20px;
        border: 1px solid rgba(255, 255, 255, 0.292);
    
    }

    #about-values{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex-wrap: wrap;
        height: max-content;
    }
    
    #about-banner{
        height: max-content;
    }
    #about-header-para{
        margin: 20px;
        align-self: center;
        text-align: center;
    }

    #about-stats{
        width: 80%;
        display: flex;
        gap:4rem;
        flex-direction: column;
    }

    #stat-block{
        width: 100%;
        border: 1px solid rgba(248, 250, 251, 0.083);
        height: max-content;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:20px;
    }

    #about-cta-button{
        display: none;
    }

    #about-cta-button2{
        display: block;
        padding: 10px 25px;
    }

    #about-header-title{
        font-size: 24px;
        font-weight: 300;
        padding-bottom: 60px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}