

.nav-links{
    color: #e0e3eb;
}

nav{
    background-color: #00041064;
}

#insights-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap:2rem;
    background-color: white;
    color: #06207D;

}

#insight-matter{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 2rem;
    align-items: flex-start;
    justify-content: center;
}

#insight-blocks{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#insight-matter-button{
    background-color: #06207D;
    border: none;
    border-radius: 30px;
    padding: 1rem 2rem;
    color: white;
}
.insight-block{
    width: 45%;
    background-color: rgba(199, 223, 245, 0.291);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.insight-block h2{
    font-size: 42px;
}


@media (min-width: 768px) and (max-width: 1200px){

    

   
}

@media (max-width: 767px){
   
}