@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.802);
    background-color: black;
    scroll-behavior: smooth;
    font-family: "Montserrat", serif;
    
}


/*Main Desktop*/

#main-desktop {
    position: relative;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.primary-header {
    
    display: flex;
    top:0;
    left: 0;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 2rem;
    
    width: 100vw;
}







.logo{
    margin: 0.5rem;
}

.menu-open {
    font-size: 2rem; 
    color: #06207D;
    cursor: pointer;
    padding: 1rem;

}

nav{
    width: 100vw;;
    height: 100vh;
    z-index: 1;
    position: fixed;
    left: 0;
    top:0;
    background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

nav a {
    display: block;
    text-decoration: none;
    }
.nav-links{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
    padding: 0.8rem;
    font-family: "Montserrat", serif;
}

.nav-links::before{
    content: ' ';
    height: 1px;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #A5E0DD;
    transition: all 0.3s ease;

}

.nav-links::after{
    content: ' ';
    height: 1px;
    width: 0%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #A5E0DD;
    transition: all 0.3s ease;
}


.nav-links:hover::after,.nav-links:hover::before{
    width: 50%;
}

.nav-links:hover{
    color: #A5E0DD;
}

.nav-links-social{
    display: flex;
    justify-content: center;
}

.nav-links-social span{
    padding: 0 2rem;
}

.nav-links-social span i{
    cursor: pointer;
    font-size: 21px; 
    color:white;
    transition: all 0.3s ease;
}

.nav-links-social span i:hover{
    color: #A5E0DD;
}

.nav-close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    color: rgb(35, 12, 12);
    cursor: pointer;
    padding: 2.1rem 1rem;
   
}

.nav-close:hover{
    color: #A5E0DD;
}


.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}

/* page1 */

#page1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#page1 #hero-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(6, 5, 5, 0.908);
}


#page1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1 #hero {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;

    margin-left: 50px;
}

#page1 #hero h1 {
    font-size: 72px;
    color: rgba(255, 255, 255, 0.833);
    font-family: "Montserrat", serif;
    font-weight: 400;
}

#hero #hero-cta {
    padding: 14px 27px;
    margin: 40px 0px;
    border-radius: 10px;
    border: solid;
    border-color: rgba(255, 255, 255, 0.401);
    background-color: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: "16px";
    letter-spacing: "1px";

    position: absolute;
    left: 0;
}


/* page 2*/

#page2 {
    position: relative;
    width: 100vw;
    height: 200vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#page2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page2 #page2-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(7, 11, 15, 0.85);
}


#page2 #value {
    position: absolute;
    top: 150px;
    bottom: 150px;
    width: 80%;
    height: auto;
    padding: 30px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 100px;
}

#page2 #value h2 {
    font-size: 32px;
    color: "#ffffff";
    font-family: "Montserrat", serif;
    font-weight: 300;
    margin: 0 150px;
    text-align: center;
}


#page2 #offer {

    margin: 120px 0px;
    height: 720px;

    display: flex;
    border: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.033);

}

/*#page2 #offer #how-we-offer {
    width: 45%;
    background: url(assets/what-we-offer-3.png
);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}*/

#page2 #offer #how-we-offer-wrap {
    /*position: absolute;*/
    width: 45%;
    background-image: url(assets/what-we-offer-3_batcheditor_fotor.jpg
);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


    padding: 50px;
}

/*#page2 #offer #how-we-offer-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(7, 11, 15, 0.95);
}*/

#page2 #offer #how-we-offer-wrap h3 {
    font-family: "Montserrat", serif;
    color: rgba(255, 255, 255, 0.833);
    font-size: 32px;
    margin-bottom: 50px;
    font-weight: 400;


}

#page2 #offer #how-we-offer-wrap p {


    color: rgba(255, 255, 255, 0.833);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 27px;


}

#page2 #offer #pillars {
    width: 55%;
    background-color: rgba(7, 11, 15, 0.92);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

#page2 #offer #pillarCol1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#page2 #offer #pillarCol1 #pillar1 {
    height: 300px;
    width: 240px;
    padding: 10px;
    background-color: rgba(7, 11, 15, 0.96);
    border: solid;
    border-width: 1px;
    border-color: rgba(240, 255, 255, 0.033);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
    line-height: 21px;
    gap: 20px;
}

#page2 #offer #pillarCol1 #pillar1 h4 {
    font-family: "Montserrat", serif;
    font-weight: 300;
    font-size: 16px;

}




#page2 #offer #pillarCol1 #pillar2 {
    height: 300px;
    width: 240px;
    padding: 10px;
    background-color: rgba(7, 11, 15, 0.96);
    border: solid;
    border-width: 1px;
    border-color: rgba(240, 255, 255, 0.033);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
    line-height: 21px;
    gap: 20px;
}

#page2 #offer #pillarCol1 #pillar2 h4 {
    font-family: "Montserrat", serif;
    font-weight: 300;
    font-size: 16px;
}


#page2 #offer #pillarCol2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#page2 #offer #pillarCol2 #pillar3 {
    height: 300px;
    width: 240px;
    padding: 10px;
    background-color: rgba(7, 11, 15, 0.96);
    border: solid;
    border-width: 1px;
    border-color: rgba(240, 255, 255, 0.033);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
    line-height: 21px;
    gap: 20px;
}


#page2 #offer #pillarCol2 #pillar3 h4 {
    font-family: "Montserrat", serif;
    font-weight: 300;
    font-size: 16px;
}

#page2 #offer #pillarCol2 #pillar4 {
    height: 300px;
    width: 240px;
    padding: 10px;
    background-color: rgba(7, 11, 15, 0.96);
    border: solid;
    border-width: 1px;
    border-color: rgba(240, 255, 255, 0.033);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
    line-height: 21px;
    gap: 20px;
}

#page2 #offer #pillarCol2 #pillar4 h4 {
    font-family: "Montserrat", serif;
    font-weight: 300;
    font-size: 16px;
}


#page2 #offer .pillarFancyBar {
    width: 80%;
    margin: 20px;
    height: 3px;
    background-color: #dbdde63f;

}

#page2 #offer .pillarText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


/* page 3 */


#page3 {
    /*position: relative;*/
    width: 100vw;
    height: 140vh;
    background-image: url(assets/bg-62_batcheditor_fotor.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 100px 20px 250px 20px;
}



#page3 #page3-title {
    /*position: absolute;
    top: 50px;*/
    font-size: 32px;
    color: "#ffffff";
    font-family: "Montserrat", serif;
    font-weight: 300;
    margin: 0 50px;
    text-align: center;
    width: 720px;
    /*z-index: 999;*/
}


/*#page3-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(7, 11, 15, 0.85);
}*/


.container {
    /*position: absolute;
    top: 270px;
    bottom: 80px;*/
    height: 90%;
    width: 60%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.363);
    font-family: "Roboto", sans-serif;
    border: 1px solid #eeeeee30;
}

.container .tabs {
    height: 100%;
    width: 250px;
    border-right: 1px solid #eeeeee30;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container .tabs .tab {
    width: 100%;
    height: 33%;
    text-align: center;

    border-bottom: 1px solid #eeeeee30;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container .tabs .tab .tab-text {
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.container .tabs .tab .fancyborder {
    height: 2%;
    background-color: rgba(58, 58, 58, 0.748);

}

.container .tabs .tab.active {
    background-color: #10402f2d;

}


.container .tabs .tab:last-child {
    border-bottom: none;
}

.container .contents {
    width: calc(100% - 250px);
}


.container .contents .tab-content {
    /*position: absolute;*/
    padding: 100px 60px;
    background-color: #10402f2d;
    display: none;
    height: 100%;
}


.container .contents .tab-content h3 {

    font-size: 21px;
    font-weight: 300;
    /*margin: 40px 0px 30px 0px;*/
    letter-spacing: 1px;
    text-align: center;
    /*z-index: 9999;*/
}

.container .contents .tab-content p {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1.2px;
    text-align: center;
    /*z-index: 1;*/
}

.container .contents .tab-content.show {
    /*display: block;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* page 4 */


#page4 {
    width: 100vw;
    height: 150vh;
    /*position: relative;*/
    background-image: url(assets/bg42_batcheditor_fotor.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}


/*#page4-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.801);

}*/

.banner {
    width: 100%;
    height: 100%;
    text-align: center;
    /*overflow: hidden;
    position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/*.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 26%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 50s linear infinite;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-5deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-5deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    
    transform:
        rotateY(calc((var(--position) - 1) * (360/ var(--quantity)) * 1deg)) translateZ(350px);
}


.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/



.banner .content {
    /*position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);*/
    width: min(1400px, 100vw);
    height: max-content;
    padding: 80px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.banner .content h2 {
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 300;
    width: 680px;
    line-height: 48px;
}


/*.slide-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000009e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: centers;

}*/



.content2 {
    /*position: absolute;
    bottom: 10%;*/
    /*left: 50%;
    transform: translateX(-50%);
    bottom: 10%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.row {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.techbox {
    border: 1px solid rgba(255, 255, 255, 0.042);
    border-radius: 15px;
    width: 300px;
    height: 320px;
    background-color: rgba(7, 16, 26, 0.603);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: scale(0.9);
    /* Initial smaller size */
    transition: transform 0.6s ease-in-out;
    /* Smooth scaling transition */
    cursor: pointer;
    gap: 12px;

}

.techbox:hover {
    transform: scale(1);
    /* Scale back to normal size */

}

#fintech:hover {
    background-color: rgba(223, 239, 253, 0.788);
    color: rgb(29, 28, 28);
    font-weight: 300;
    transition: 0.5s ease-in-out;
}

#blockchain:hover {
    background-color: rgba(223, 239, 253, 0.788);
    color: rgb(29, 28, 28);
    font-weight: 300;
}

#apps:hover {
    background-color: rgba(223, 239, 253, 0.788);
    color: rgb(29, 28, 28);
    font-weight: 300;
}

#web3:hover {
    background-color: rgba(223, 239, 253, 0.788);
    color: rgb(29, 28, 28);
    font-weight: 300;
}

#data:hover {
    background-color: rgba(223, 239, 253, 0.788);
    color: rgb(29, 28, 28);
    font-weight: 300;
}

#api:hover {
    background-color: rgba(223, 239, 253, 0.788);
    color: rgb(29, 28, 28);
    font-weight: 300;
}

#gaming:hover {
    background-color: rgba(223, 239, 253, 0.788);
    color: rgb(29, 28, 28);
    font-weight: 300;
}

#aiml:hover {
    background-color: rgba(223, 239, 253, 0.788);
    color: rgb(29, 28, 28);
    font-weight: 300;
}




.techbox h3 {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 16px;
}

.techbox p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.icon2 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.194);

}


/* page5 */



#page5 {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 150px 40px;
    background-image: url(assets/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#page5-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(7, 11, 15, 0.85);
}


#page5 h2 {
    font-size: 32px;
    color: "#ffffff";
    font-family: "Montserrat", serif;
    font-weight: 300;
    margin: 80px 150px;
    text-align: center;
    width: 600px;
    top: 80;
    z-index: 999;
}



.scroller {
    max-width: 100%;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}





/* Media Queries */


@media (min-width: 1201px) {

    /* Large device-specific styles go here */
    /**** page 1 start ****/
    #page1 {
        position: relative;
        min-width: 1201px;
        min-height: 800px;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    #page1 #hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(6, 5, 5, 0.908);
    }

    #page1 video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #page1 #hero {
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 60%;

        margin-left: 50px;
    }

    #page1 #hero h1 {
        font-size: 72px;
        color: rgba(255, 255, 255, 0.833);
        font-family: "Montserrat", serif;
        font-weight: 400;
    }

    #hero #hero-cta {
        padding: 14px 27px;
        margin: 40px 0px;
        border-radius: 10px;
        border: solid;
        border-color: rgba(255, 255, 255, 0.401);
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-size: "16px";
        letter-spacing: "1px";

        position: absolute;
        left: 0;
    }

    /**** page1 end ****/

    /**** page2 start ****/

    /**** page2 end ****/

    /**** page3 start ****/
    /**** page3 end ****/

    /**** page4 start ****/
    /**** page4 end ****/

    /**** page5 start ****/
    /**** page5 end ****/





}





/* Medium Device Styles */
@media (min-width: 768px) and (max-width: 1200px) {

    /**** page1 start ****/

    #page1 {
        position: relative;
        min-width: 768px;
        height: 1000px;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    #page1 #hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(6, 5, 5, 0.908);
    }

    #page1 video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #page1 #hero {
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 70%;

        margin-left: 30px;
    }

    #page1 #hero h1 {
        font-size: 48px;
        color: rgba(255, 255, 255, 0.833);
        font-family: "Montserrat", serif;
        font-weight: 400;
    }

    #hero #hero-cta {
        padding: 14px 27px;
        margin: 40px 0px;
        border-radius: 10px;
        border: solid;
        border-color: rgba(255, 255, 255, 0.401);
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-size: "16px";
        letter-spacing: "1px";

        position: absolute;
        left: 0;
    }




    /**** page1 end ****/

    /**** page2 start ****/

    #page2 {
        position: relative;
        min-width: 768px;
        height: 1300px;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        overflow: visible;

    }

    #page2 video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #page2 #page2-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(7, 11, 15, 0.85);
    }

    #page2 #value {
        position: absolute;
        top: 0px;
        margin-bottom: 50px;
        width: 80%;

        padding: 20px auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    #page2 #value h2 {
        position: absolute;
        top: 40px;
        font-size: 32px;
        color: "#ffffff";
        font-family: "Montserrat", serif;
        font-weight: 300;
        margin: 0 50px;
        text-align: center;
    }


    #page2 #offer {
        position: absolute;
        top: 150px;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 150px;
        border: solid;
        border-width: 2px;
        border-color: rgba(255, 255, 255, 0.033);
        background-color: rgba(7, 11, 15, 0.92);

    }

    #page2 #offer #how-we-offer-wrap {
        /*position: absolute;*/
        width: 100%;
        /*background-image: url(assets/what-we-offer-3.png
    );
        background-position: center;
        background-size: cover;*/
        background: rgba(7, 11, 15, 0.92);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        margin-bottom: 50px;
        padding: 50px;
    }

    #page2 #offer #how-we-offer-wrap h3 {
        font-family: "Montserrat", serif;
        color: rgba(255, 255, 255, 0.833);
        font-size: 21px;
        margin-bottom: 50px;
        font-weight: 300;


    }

    #page2 #offer #how-we-offer-wrap p {


        color: rgba(255, 255, 255, 0.833);
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 27px;


    }


    #page2 #offer #pillars {
        width: 100%;
        /*background-color: rgba(7, 11, 15, 0.92);*/
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

    }

    #page2 #offer #pillarCol1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #page2 #offer #pillarCol1 #pillar1 {
        height: 280px;
        width: 240px;
        padding: 10px;
        background-color: rgba(7, 11, 15, 0.96);
        border: solid;
        border-width: 1px;
        border-color: rgba(240, 255, 255, 0.033);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 21px;
        gap: 20px;
    }

    #page2 #offer #pillarCol1 #pillar1 h4 {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 16px;

    }




    #page2 #offer #pillarCol1 #pillar2 {
        height: 280px;
        width: 240px;
        padding: 10px;
        background-color: rgba(7, 11, 15, 0.96);
        border: solid;
        border-width: 1px;
        border-color: rgba(240, 255, 255, 0.033);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 21px;
        gap: 20px;
    }

    #page2 #offer #pillarCol1 #pillar2 h4 {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 16px;
    }


    #page2 #offer #pillarCol2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #page2 #offer #pillarCol2 #pillar3 {
        height: 280px;
        width: 240px;
        padding: 10px;
        background-color: rgba(7, 11, 15, 0.96);
        border: solid;
        border-width: 1px;
        border-color: rgba(240, 255, 255, 0.033);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 21px;
        gap: 20px;
    }


    #page2 #offer #pillarCol2 #pillar3 h4 {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 16px;
    }

    #page2 #offer #pillarCol2 #pillar4 {
        height: 280px;
        width: 240px;
        padding: 10px;
        background-color: rgba(7, 11, 15, 0.96);
        border: solid;
        border-width: 1px;
        border-color: rgba(240, 255, 255, 0.033);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 21px;
        gap: 20px;
    }

    #page2 #offer #pillarCol2 #pillar4 h4 {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 16px;
    }


    #page2 #offer .pillarFancyBar {
        width: 80%;
        margin: 20px;
        height: 3px;
        background-color: #dbdde63f;

    }

    #page2 #offer .pillarText {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .icon{
        font-size: 12px; 
        font-weight: 100;
    }


    /**** page2 end ****/

    /**** page3 start ****/
    #page3 {
        /*position: relative;*/
        min-width: 768px;
        height: 1300px;
        background-image: url(assets/bg-62.png);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 80px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 40px 20px 40px 20px;
    }



    #page3 #page3-title {
        /*position: absolute;
        top: 50px;*/
        font-size: 24px;
        color: "#ffffff";
        font-family: "Montserrat", serif;
        font-weight: 300;
        margin: 0 30px;
        text-align: center;
        width: 560px;
        /*z-index: 999;*/
        line-height: 40px;
    }


   /* #page3-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(7, 11, 15, 0.85);
    }*/




    .container {
        /*position: absolute;
        bottom: 140px;*/
        width: 80%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.363);
        font-family: "Roboto", sans-serif;
        border: 1px solid #eeeeee30;
        
    }

    .container .tabs {
        height: 120px;
        width: 100%;
        border-right: 1px solid #eeeeee30;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }


    .container .tabs .tab {
        width: 100%;
        height: 100%;
        text-align: center;
        border-right: 1px solid #eeeeee30;
        border-bottom: 1px solid #eeeeee30;
        cursor: pointer;
        font-size: 16px;
        /*position: relative;*/
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .container .tabs .tab .tab-text {
        height: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }

    .container .tabs .tab .fancyborder {
        height: 2%;
        background-color: rgba(58, 58, 58, 0.748);

    }

    .container .tabs .tab.active {
        background-color: #10402f2d;

    }


    .container .tabs .tab:last-child {
        border-bottom: none;
    }

    .container .contents {
        width: 100%;
        height: 100%;
    }


    .container .contents .tab-content {
        /*position: absolute;*/
        padding: 30px 20px;
        background-color: #10402f2d;
        display: none;
        height: 100%;
        width: 100%;
        /*top: 100px;*/
    }


    .container .contents .tab-content h3 {

        font-size: 21px;
        font-weight: 300;
        margin: 30px 0px 30px 0px;
        letter-spacing: 1px;
        text-align: center;
        /*z-index: 9999;*/
    }

    .container .contents .tab-content p {
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 1.2px;
        text-align: center;
        /*z-index: 1;*/
    }

    .container .contents .tab-content.show {
        display: block;
    }



    /**** page3 end ****/

    /**** page4 start ****/
    #page4 {
        min-width: 320px;
        height: 1800px;
        /*position: relative;*/
        background-image: url(assets/bg42.png);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
    }
    
    
    /*#page4-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.801);
    
    }*/
    
    .banner {
        width: 100%;
        height: 1500px;
        text-align: center;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .banner .slider {
        position: absolute;
        width: 150px;
        height: 200px;
        top: 15%;
        left: calc(50% - 75px);
        transform-style: preserve-3d;
        transform: perspective(1500px);
        animation: autoRun 50s linear infinite;
    }
    
    @keyframes autoRun {
        from {
            transform: perspective(2000px) rotateX(-5deg) rotateY(0deg);
        }
    
        to {
            transform: perspective(2000px) rotateX(-5deg) rotateY(360deg);
        }
    }
    
    .banner .slider .item {
        position: absolute;
        inset: 0 0 0 0;
        /*this will give same position as class slider*/
        transform:
            rotateY(calc((var(--position) - 1) * (360/ var(--quantity)) * 1deg)) translateZ(350px);
    }
    
    
    .banner .slider .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    
    .banner .content {
        /*position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);*/
        width: min(400px, 100vw);
        height: max-content;
        padding: 30px 0px 30px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .banner .content h2 {
        font-family: "Montserrat", serif;
        font-size: 24px;
        font-weight: 300;
        width: 400px;
        line-height: 30px;
        padding: 20px;
    }
    
    
    .slide-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0000009e;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: centers;
    
    }
    
    .row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .content2 {
       /* position: absolute;
        bottom: 0%;
        /*left: 50%;
        transform: translateX(-50%);
        bottom: 10%;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        padding-bottom: 100px;
    }
    
    .techbox {
        border: 1px solid rgba(255, 255, 255, 0.042);
        border-radius: 15px;
        width: 300px;
        height: 320px;
        background-color: rgba(7, 16, 26, 0.603);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: scale(0.9);
        /* Initial smaller size */
        transition: transform 0.6s ease-in-out;
        /* Smooth scaling transition */
        cursor: pointer;
        gap: 12px;
    
    }
    
    .techbox:hover {
        transform: scale(1);
        /* Scale back to normal size */
    
    }
    
    #fintech:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: 0.5s ease-in-out;
    }
    
    #blockchain:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
    }
    
    #apps:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
    }
    
    #web3:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
    }
    
    #data:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
    }
    
    #api:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
    }
    
    #gaming:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
    }
    
    #aiml:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
    }
    
    
    
    
    .techbox h3 {
        font-family: "Montserrat", serif;
        font-weight: 400;
        font-size: 16px;
    }
    
    .techbox p {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        letter-spacing: 2px;
    }
    
    .icon2 {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(240, 248, 255, 0.194);
    
    }
    
    
    /**** page4 end ****/

    /**** page5 start ****/
    #page5 h2 {
        font-size: 24px;
        color: "#ffffff";
        font-family: "Montserrat", serif;
        font-weight: 300;
        margin: 80px 150px;
        text-align: center;
        width: 320px;
        top: 80;
        z-index: 999;
    }
    
    /**** page5 end ****/
    #footer-div{
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100vh;
        gap:30px;
        padding: 20px;
        flex-wrap: wrap;
    }

}






/* Small Device Styles */
@media (max-width: 767px) {

    /**** page1 start ****/

    #page1 {
        position: relative;
        min-width: 320px;
        min-height: 480px;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    #page1 #hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(6, 5, 5, 0.908);
    }

    #page1 video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #page1 #hero {
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 70%;

        margin-left: 20px;
    }

    #page1 #hero h1 {
        font-size: 27px;
        color: rgba(255, 255, 255, 0.833);
        font-family: "Montserrat", serif;
        font-weight: 400;
    }

    #hero #hero-cta {
        padding: 12px 24px;
        margin: 40px 0px;
        border-radius: 10px;
        border: solid;
        border-color: rgba(255, 255, 255, 0.401);
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-size: "16px";
        letter-spacing: "1px";

        position: absolute;
        left: 0;
    }

    /**** page 1 end ****/

    /**** page2 start ****/
    #page2 {
        position: relative;
        min-width: 320px;
        height: 1600px;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        overflow: visible;

    }

    #page2 video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #page2 #page2-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(7, 11, 15, 0.85);
    }

    #page2 #value {
        position: absolute;
        top: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;

        padding: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    #page2 #value h2 {
        position: absolute;
        top: 20px;
        font-size: 21px;
        color: "#ffffff";
        font-family: "Montserrat", serif;
        font-weight: 300;
        margin: 0 50px;
        text-align: center;
        width: 350px;
    }


    #page2 #offer {
        position: absolute;
        top: 150px;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 240px;
        border: solid;
        border-width: 2px;
        border-color: rgba(255, 255, 255, 0.033);
        background-color: rgba(7, 11, 15, 0.92);

    }

    #page2 #offer #how-we-offer-wrap {
        /*position: absolute;*/
        width: 100%;
        /*background-image: url(assets/what-we-offer-3.png
    );
        background-position: center;
        background-size: cover;*/
        background: rgba(7, 11, 15, 0.92);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        margin-bottom: 50px;
        padding: 50px;
    }

    #page2 #offer #how-we-offer-wrap h3 {
        font-family: "Montserrat", serif;
        color: rgba(255, 255, 255, 0.833);
        font-size: 21px;
        margin-bottom: 50px;
        font-weight: 300;


    }

    #page2 #offer #how-we-offer-wrap p {


        color: rgba(255, 255, 255, 0.833);
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 27px;


    }


    #page2 #offer #pillars {
        width: 100%;
        /*background-color: rgba(7, 11, 15, 0.92);*/
        display: flex;
        background: none;

        gap: 20px;
        justify-content: center;

        align-items: center;
        margin-bottom: 30px;

    }

    #page2 #offer #pillarCol1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #page2 #offer #pillarCol1 #pillar1 {
        height: 240px;
        width: 140px;
        padding: 15px;
        background-color: rgba(7, 11, 15, 0.96);
        border: solid;
        border-width: 1px;
        border-color: rgba(240, 255, 255, 0.033);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;

        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 1px;

        gap: 5px;
    }

    #page2 #offer #pillarCol1 #pillar1 h4 {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: 30px;
    }




    #page2 #offer #pillarCol1 #pillar2 {
        height: 240px;
        width: 140px;
        padding: 15px;
        background-color: rgba(7, 11, 15, 0.96);
        border: solid;
        border-width: 1px;
        border-color: rgba(240, 255, 255, 0.033);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;

        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 1px;

        gap: 5px;
    }

    #page2 #offer #pillarCol1 #pillar2 h4 {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: 30px;
    }


    #page2 #offer #pillarCol2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #page2 #offer #pillarCol2 #pillar3 {
        height: 240px;
        width: 140px;
        padding: 15px;
        background-color: rgba(7, 11, 15, 0.96);
        border: solid;
        border-width: 1px;
        border-color: rgba(240, 255, 255, 0.033);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;

        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 1px;

        gap: 5px;
    }


    #page2 #offer #pillarCol2 #pillar3 h4 {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: 30px;
    }

    #page2 #offer #pillarCol2 #pillar4 {
        height: 240px;
        width: 140px;
        padding: 15px;
        background-color: rgba(7, 11, 15, 0.96);
        border: solid;
        border-width: 1px;
        border-color: rgba(240, 255, 255, 0.033);
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;

        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 1px;

        gap: 5px;
    }

    #page2 #offer #pillarCol2 #pillar4 h4 {
        font-family: "Montserrat", serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: 30px;
    }


    #page2 #offer .pillarFancyBar {
        width: 80%;
        height: 3px;
        background-color: #dbdde63f;

    }

    #page2 #offer .pillarText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #page2 #offer #pillarCol1 #pillar1 p {
        display: none;
    }

    #page2 #offer #pillarCol1 #pillar2 p {
        display: none;
    }

    #page2 #offer #pillarCol2 #pillar3 p {
        display: none;
    }

    #page2 #offer #pillarCol2 #pillar4 p {
        display: none;
    }

    .icon{
        font-size: 12px; 
        font-weight: 100;
    }

    /**** page2 end ****/

    /**** page3 start ****/


    #page3 {
        /*position: relative;*/
        min-width: 320px;
        height: 1000px;
        background-image: url(assets/bg-62.png);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 40px 20px 40px 20px;
    }



    #page3 #page3-title {
        /*position: absolute;
        top: 50px;*/
        font-size: 21px;
        color: "#ffffff";
        font-family: "Montserrat", serif;
        font-weight: 300;
        margin: 0 30px;
        text-align: center;
        width: 400px;
        /*z-index: 999;*/
        line-height: 30px;
    }


   /* #page3-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(7, 11, 15, 0.85);
    }*/




    .container {
        /*position: absolute;
        bottom: 140px;*/
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.363);
        font-family: "Roboto", sans-serif;
        border: 1px solid #eeeeee30;
        
    }

    .container .tabs {
        height: 120px;
        width: 100%;
        border-right: 1px solid #eeeeee30;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }


    .container .tabs .tab {
        width: 100%;
        height: 100%;
        text-align: center;
        border-right: 1px solid #eeeeee30;
        border-bottom: 1px solid #eeeeee30;
        cursor: pointer;
        font-size: 16px;
        /*position: relative;*/
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .container .tabs .tab .tab-text {
        height: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }

    .container .tabs .tab .fancyborder {
        height: 2%;
        background-color: rgba(58, 58, 58, 0.748);

    }

    .container .tabs .tab.active {
        background-color: #10402f2d;

    }


    .container .tabs .tab:last-child {
        border-bottom: none;
    }

    .container .contents {
        width: 100%;
        height: 100%;
    }


    .container .contents .tab-content {
        /*position: absolute;*/
        padding: 30px 20px;
        background-color: #10402f2d;
        display: none;
        height: 100%;
        width: 100%;
        /*top: 100px;*/
    }


    .container .contents .tab-content h3 {

        font-size: 21px;
        font-weight: 300;
        margin: 30px 0px 30px 0px;
        letter-spacing: 1px;
        text-align: center;
        /*z-index: 9999;*/
    }

    .container .contents .tab-content p {
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 1.2px;
        text-align: center;
        /*z-index: 1;*/
    }

    .container .contents .tab-content.show {
        display: block;
    }


    /**** page3 end ****/

    /**** page4 start ****/
    #page4 {
        min-width: 320px;
        height: 3200px;
        /*position: relative;*/
        background-image: url(assets/bg42.png);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
    }
    
    
    /*#page4-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.801);
    
    }*/
    
    .banner {
        width: 100%;
        height: 3200px;
        text-align: center;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .banner .slider {
        position: absolute;
        width: 150px;
        height: 200px;
        top: 10%;
        left: calc(50% - 75px);
        transform-style: preserve-3d;
        transform: perspective(1500px);
        animation: autoRun 50s linear infinite;
    }
    
    @keyframes autoRun {
        from {
            transform: perspective(2000px) rotateX(-5deg) rotateY(0deg);
        }
    
        to {
            transform: perspective(2000px) rotateX(-5deg) rotateY(360deg);
        }
    }
    
    .banner .slider .item {
        position: absolute;
        inset: 0 0 0 0;
        /*this will give same position as class slider*/
        transform:
            rotateY(calc((var(--position) - 1) * (360/ var(--quantity)) * 1deg)) translateZ(350px);
    }
    
    
    .banner .slider .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    
    .banner .content {
        /*position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);*/
        width: min(400px, 100vw);
        height: max-content;
        padding: 80px 0px 80px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .banner .content h2 {
        font-family: "Montserrat", serif;
        font-size: 24px;
        font-weight: 300;
        width: 400px;
        line-height: 30px;
        padding: 20px;
    }
    
    
    .slide-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0000009e;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: centers;
    
    }
    
    .row {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .content2 {
        /*position: absolute;
        bottom: 0%;
        /*left: 50%;
        transform: translateX(-50%);
        bottom: 10%;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        padding-bottom: 100px;
    }
    
    .techbox {
        border: 1px solid rgba(255, 255, 255, 0.042);
        border-radius: 15px;
        width: 300px;
        height: 320px;
        background-color: rgba(7, 16, 26, 0.603);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: scale(0.9);
        /* Initial smaller size */
        transition: transform 0.6s ease-in-out;
        /* Smooth scaling transition */
        cursor: pointer;
        gap: 12px;
    
    }
    
    .techbox:hover {
        transform: scale(1);
        /* Scale back to normal size */
        transition: none;
    
    }
    
    #fintech:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: none;
    }
    
    #blockchain:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: none;
    }
    
    #apps:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: none;
    }
    
    #web3:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: none;
    }
    
    #data:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: none;
    }
    
    #api:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: none;
    }
    
    #gaming:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: none;
    }
    
    #aiml:hover {
        background-color: rgba(223, 239, 253, 0.788);
        color: rgb(29, 28, 28);
        font-weight: 300;
        transition: none;
    }
    
    
    
    
    .techbox h3 {
        font-family: "Montserrat", serif;
        font-weight: 400;
        font-size: 16px;
    }
    
    .techbox p {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        letter-spacing: 2px;
    }
    
    .icon2 {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(240, 248, 255, 0.194);
    
    }
    
    
    /**** page4 end ****/

    /**** page5 start ****/

    #page5 {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: 40px 40px;
        background-image: url(assets/bg1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    


    #page5 h2 {
        font-size: 24px;
        color: "#ffffff";
        font-family: "Montserrat", serif;
        font-weight: 300;
        margin: 80px 150px;
        text-align: center;
        width: 320px;
        top: 80;
        z-index: 999;
    }
    
    
    /**** page5 end ****/

    #footer-div{
        flex-direction: column;
        width: 100%;
        align-items: center;
        
        gap:10px;
        padding: 20px;
        height: 100vh;
    
    }

    footer{
        height: 120vh;
    }
}


/* Extra Small Device Styles */
@media (max-width: 320px) {

    /**** page1 start ****/

    #page1 {
        position: relative;
        min-width: 100vw;
        min-height: 100vh;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    #page1 #hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(6, 5, 5, 0.908);
    }

    #page1 video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #page1 #hero {
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 70%;

        margin-left: 15px;
    }

    #page1 #hero h1 {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.833);
        font-family: "Montserrat", serif;
        font-weight: 300;
    }

    #hero #hero-cta {
        padding: 8px 16px;
        margin: 40px 0px;
        border-radius: 10px;
        border: solid;
        border-color: rgba(255, 255, 255, 0.401);
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-size: "14px";
        letter-spacing: "1px";

        position: absolute;
        left: 0;
    }

    /**** page1 end ****/


    /**** page2 start ****/




    /**** page2 end ****/

    /**** page3 start ****/
    /**** page3 end ****/

    /**** page4 start ****/
    /**** page4 end ****/

    /**** page5 start ****/
    /**** page5 end ****/


}